{% extends 'base/main.html' %}


{% block content %}

    {% if page == 'login' %}
        <div>
            <form method = "POST" action="">
                {% csrf_token %}

                <p><label>Username:</label>
                <input type="text" name="username" placeholder="Enter Username"></p>

                <p><label>Password:</label>
                <input type="password" name="password" placeholder="Enter password"></p>


                <button type="submit">Login</button>
            </form>
            <hr>
            <div>Do not have an account?</div>
            <a href="{% url 'register' %}">Sign up</a>
        </div>
    {% else %}
        <div>
            <form method = "POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Sign up</button>
            </form>
            <hr>
            <div>Already have an account?</div>
            <a href="{% url 'login' %}">Sign in</a>
        </div>
    {% endif %}
{% endblock content %}
    