<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ChatRoom</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% include 'base/navbar.html' %}

        {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
        {% endif %}

        <style>
            .home-container{
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;
            }
        </style>
        <div class="home-container">
            <div>
                {% include 'base/topics.html' %}
            </div>

            <div>
                {% block content %}
                
                
                {% endblock content %}
            </div>
            
            <div>
                {% include 'base/activities.html' %}
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>


