{% extends 'base/main.html' %}

{% block content %}

<style>
    .container{
        display:grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="container">
    <div>
        <h1>{{room.name}}</h1>
        <p>{{room.description}}</p>
        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for msg in msgs %}
                <div>
                    <small>{{msg.user}} \ {{msg.created|timesince}} ago</small>
                    <p>{{msg.body}}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>
        <div class = "comment-form">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Your message here...">
            </form>
        </div>
    </div>
    <div>
        <h3>
            Participants
        </h3>
        <hr>
        
        {% for user in participants %}
            <div>
                <p>{{user.username}}</p>
            </div>
        {% endfor %}
            
    </div>
</div>
{% endblock content %}